<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Libro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Editar Libro</h1>
  <div class="form">
    <form [formGroup]="citaForm" (ngSubmit)="updateCita()">
      <div class="form-field">
        <label [ngClass]="focused ? 'label-focused' : ''" position="floating">Nombre</label>
        <input placeholder="Nombre" name="nombre" type="text" (focus)="focused = true" (blur)="onBlur($event)" id="nombre" required>
      </div>
      <div class="form-field">
        <label [ngClass]="focused ? 'label-focused' : ''" position="floating">Autor</label>
        <input placeholder="Autor" name="autor" type="text" (focus)="focused = true" (blur)="onBlur($event)" id="autor" required>
      </div>
      <div class="form-field">
        <label [ngClass]="focused ? 'label-focused' : ''" position="floating">Categoria</label>
        <input placeholder="Categoria" name="categoria" type="text" (focus)="focused = true" (blur)="onBlur($event)" id="categoria" required>>
      </div>
      <div class="form-field">
        <label [ngClass]="focused ? 'label-focused' : ''" position="floating">Stock</label>
        <input placeholder="Stock" name="stock" type="text" (focus)="focused = true" (blur)="onBlur($event)" id="stock" required>
      </div>
      <div class="form-field">
        <label [ngClass]="focused ? 'label-focused' : ''" position="floating">ISBN</label>
        <input placeholder="ISBN" name="isbn" type="text" (focus)="focused = true" (blur)="onBlur($event)" id="isbn" required>
      </div>
      <app-button label="Actualizar"></app-button>
      
    </form>
    <app-button routerLink="/listar-citas" label="Cancelar"></app-button>
  </div>
</ion-content>